.image-page-wrapper{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
}

.image-desc{
    background-color: blue;
    width: 25%;
}


.gallery-image-slider{
    width: 60%;
    overflow: scroll;
    white-space: nowrap;
    align-items: center;

}

.img-x{
    display: inline-block;
    height: 90%;
    margin-top: 2em;
    margin-left: 1em;
}

.img-x img{
    height: 100%;
}