.image-page-wrapper{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
}

.image-desc-wrapper{
    background-color: rgba(0, 52, 102, 0.9);
    width: 25%;
    color: #F8F8F8;
    border-radius: 5px;
    height: 95%;
    margin-top: 1.5em;
}

.image-desc{
    width: 85%;
    height: 85%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-desc-link-container{
    display: flex;
    /* background-color: chocolate; */
    width: 25%;
    gap: 0.5em;
    justify-content: space-evenly;
}


.gallery-image-slider{
    width: 60%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #003466 #ffffff;
}

 .gallery-image-slider::-webkit-scrollbar {
    width: 10px;
  }

 .gallery-image-slider::-webkit-scrollbar-track {
    background: transparent;
  }

 .gallery-image-slider::-webkit-scrollbar-thumb {
    background-color: #003466;
    border-radius: 8px;
    border: 3px solid #ffffff;
  }

.img-x{
    height: 90%;
    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: chocolate;
}

.img-x img{
    height: 100%;
}