.image-page-wrapper{
    background-color: chocolate;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

.image-desc{
    background-color: blue;
    width: 25%;
}

.gallery-image-slider{
    background-color: brown;
    width: 60%;
    overflow: auto;
    white-space: nowrap;
    align-items: center;
}

.img-x{
    background-color:cadetblue;
    display: inline-block;
    height: 90%;
    width: 90%;
    border: 1px solid black;
    margin-top: 2em;
    margin-left: 1em;
}