.gallery-item-wrapper{
    background-color: chocolate;
}

.image-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin: 0 auto;
}

.image-dummy{
    height: 300px;
    width: 300px;
    background-color: brown;
}